* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 80px;
}

/* navbar  */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px 30px;
    width: 1450px;
}



select {
    border: none;
    font-size: 22px;
    margin-top: 5px;
    outline: none;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 25px;
}

.search {
    display: flex;
    background-color: rgb(231, 231, 231);
    border-radius: 50px;

}

.search-feild {
    background-color: rgba(240, 248, 255, 0);
    border: none;
    width: 400px;
    outline: none;
}

.icon {
    margin-left: 10px;
    margin-right: 10px;
}

.icons {
    display: flex;
    gap: 20px;
}

/* main */

main {
    background-image: url("../assets/Rectangle 2.png");
    height: 660px;
}

.main-title {
    font-size: 70px;
    margin-left: 160px;
    padding-top: 90px;
    font-family: 'Roboto Flex', sans-serif;
    transform: scaleX(1.2);
    display: inline-block;
    line-height: 70px;
}

.main-p {
    margin-top: 20px;
    width: 400px;
    margin-left: 120px;
    color: rgb(161, 161, 161);
}

.main-button {
    padding: 15px 60px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    margin-left: 110px;
    margin-top: 20px;
    transition: 0.3s ease;
}

.main-button:hover {
    box-shadow: 0px 0px 60px rgb(136, 136, 136);
    transform: scale(1.1, 1.1);
}

.statistics {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.totle-brands {
    margin-left: 110px;
}

/* arrivals */

.arrivals-title {
  font-family: "Science Gothic", sans-serif;
  font-weight: 600;    text-align: center;
    margin-top: 50px;
}

.products-parent {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

}

.product-card {
    margin: 0px 100px;
    border-radius: 20px;
    gap: 30px;
}

.product-image {
    border-radius: 20px;
}
.information{
    gap: 20px;
     font-family: "Kalam", cursive;
  font-weight: 300;
}

hr{
    margin:50px 200px;
    
}

.get-item{
    display: flex;
    justify-content: space-between;
}

.get-button{
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-family:"Science Gothic", sans-serif; 
    transition: 0.3s ease;
}

.get-button:hover{
    box-shadow: 0px 0px 20px grey;
    transform: scale(1.1,1.1);
}